@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  overflow: hidden;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.react-syntax-highlighter-line-number {
  color: #666
}

.half-screen {
  width: 50vw;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.tabbed-code-pane {
  /* Subtract nav and tabs */
  height: calc(100vh - 65px - 40px);
  overflow-x: hidden;
  overflow-y: auto;
}

.code-pane {
  /* Subtract nav */
  height: calc(100vh - 65px);
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}