@tailwind base;
@tailwind components;
@tailwind utilities;
@import './blog.css';

:root {
  --theme-bg: #282a36;
  --theme-text: #f8f8f2;
}

html,
body {
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--theme-bg);
}

#__next {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-bg);
}

main {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

section.code {
  flex: 1;
  display: flex;
  min-height: 0;
  height: 100%;
}

section.code>div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.react-syntax-highlighter-line-number {
  color: #666
}

.half-screen {
  width: 50vw;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.tabbed-code-pane {
  /* Subtract nav and tabs */
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.code-pane {
  /* Subtract nav */
  height: calc(100vh - 65px);
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}